@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>Cadastro de Contatos</h2>
    </div>
    <div>
        <img src="~/img/cadastro.jpg" />
    </div>
</div>
